// Color Variables
$color-primary: #003acf;
$color-accent: #d01212;
$color-bg: #fff;
$footer-bg-color: #222;
$footer-color: #c9c9c9;
$footer-widgets-bg-color: #102251;
$footer-widgets-header-text-color: #fff;
$footer-widgets-text-color: #BBCAF3;
$input-bg-color: #eaeaea;
$input-color: #606060;
$input-f-bg-color: #f5f5f5;
$input-f-color: #000;
